.jskmb-calculator{
    width: 500;
    margin: 0 auto;
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
    border: 1px solid black;
}
.jskmb-calculator .operations-block button{
    width: 40px;
    height: 40px;
    margin: 20px;
}
.jskmb-calculator .inputs-block .input-block{
    display: inline-block;
    padding: 10px;
}
.jskmb-calculator .inputs-block .input-block label{
display: block;

}

.jskmb-calculator .number-block{
    padding: 20px; 
}

.jskmb-calculator .number-block button{
    width: 40px;
    height: 40px;
    margin: 10px;   
}